* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}


.section-1 {
    background-color: rgb(46, 46, 46);
    border: 2px solid rgba(78, 78, 181, 0.933); 
    color: rgb(219, 214, 214);

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-title {
    display: flex;
    align-items: left;
    margin: 20px auto auto 200px;
}

.header-links {
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
}

.header-links a {
    color: white;
    text-decoration: none;
}

.main-text {
    display: flex;
    justify-content: center;
}


.h2-sec2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
}