* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


.container {
    max-width: 1350px;
    margin: 0 auto;
}

.section-1 {
    background-color: rgb(46, 46, 46);
    border: 2px solid rgba(78, 78, 181, 0.933); 
    color: rgb(219, 214, 214);

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    display: flex;
    margin-left: 100px;
}

.header-links {
    display: flex;
    width: 350px;
    margin-right: 100px;
    justify-content: space-evenly;
    align-items: end;
    gap: 40px;
}

.header-links a {
    color: white;
    text-decoration: none;
}

.section-2 {
    background-color: rgba(211, 211, 211, 0.933);;
}

hr {
    border: 1px solid white;
    width: 95%;
}

.div-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-content {
    flex: 1;
    margin-top: 10px;
}

.header-text {
    max-width: 450px;
    margin: 50px 0 0 100px;
}

.sub-text {
    max-width: 450px;
    margin: 20px 0 0 100px;
}

.btn {
    max-width: 100px;
    margin: 20px 0 20px 100px;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(58, 58, 58);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 50ms;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
  width: 100%;
  max-width: 500px;
  background: #667;
  padding: 40px;
}

.images-header-text {
    text-align: center;
    margin-bottom: 20px;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
}