* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.section-1 {
    background-color: rgb(46, 46, 46);
    padding-bottom: 1px;
    color: rgb(219, 214, 214);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    display: flex;
    margin-left: 100px;
}

.header-links {
    display: flex;
    width: 350px;
    margin-right: 100px;
    justify-content: space-evenly;
    align-items: end;
    gap: 40px;
}

.header-links a {
    color: white;
    text-decoration: none;
}

hr {
    margin-top: 0;
    border: 1px solid white;
    width: 95%;
}

.div-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.text-content {
    flex: 1;
    margin-top: 10px;
}

.header-text {
    max-width: 450px;
    margin: 50px 0 20px 100px;
}

.sub-text {
    max-width: 450px;
    margin: 0 0 0 100px;
    color: rgb(178, 178, 178);
}

.btn {
    font-size: 14px;
    width: 200px;
    height: 50px;
    margin: 20px 0 20px 100px;
    border-radius: 15px;
}

.btn:hover {
    background-color: rgb(58, 58, 58);
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: 50ms;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    margin-top: 50px;
    background: #667;
    border-radius: 10px;
}

.section-2 {
    background-color: rgba(211, 211, 211, 0.933);
    padding-top: 30px;
    padding-bottom: 50px;
}

.images-header-text {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

figure img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    border: 2px solid rgb(255, 91, 118);
    border-radius: 15px;
}

figure figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 196, 196);
    padding-top: 50px;
    padding-bottom: 50px;
}

.blockquote {
    max-width: 1000px;
}

.quote-credit {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.section-4 {
    background-color: rgb(46, 46, 46);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(219, 214, 214);
}

.div-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: rgb(0, 39, 62);
    border-radius: 20px;
    max-width: 900px;
    margin: 50px auto;
}

.sec4-main {
    margin-bottom: 5px;
}



.sign-up-btn {
    background-color: rgb(150, 189, 239);
    padding: 10px;
    border-radius: 10px;
}

.sign-up-btn:hover {
    background-color: rgb(6, 6, 122);
    color: white;
}

.sign-up-btn:active {
    background: rgb(0, 0, 48);
    transform: scale(0.95);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
    color: aliceblue;
}